 $default-0  : 0;
 $default-10  : 10;
 
 .padding-0 {
    padding: $default-0;
  }
  
  .padding-top-0 {
    padding-top: $default-0;
  }
  
  .margin-0 {
    margin: $default-0;
  }
  
  .margin-top-0 {
    margin-top: $default-0;
  }
  
  .padding-10 {
    padding: $default-10;
  }
  
  .padding-top-10 {
    padding-top: $default-10;
  }
  
  .margin-10 {
    margin: $default-10;
  }
  
  .margin-top-10 {
    margin-top: $default-10;
  }
  